@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 358 58% 100%;
    --foreground: 358 58% 0%;
    --muted: 118 35% 87%;
    --muted-foreground: 118 12% 33%;
    --popover: 358 58% 100%;
    --popover-foreground: 358 58% 0%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 0%;
    --border: 358 15% 92%;
    --input: 358 15% 92%;
    --primary: 358 5% 83%;
    --primary-foreground: 358 5% 23%;
    --secondary: 118 5% 83%;
    --secondary-foreground: 118 5% 23%;
    --accent: 238 5% 83%;
    --accent-foreground: 238 5% 23%;
    --destructive: 21 89% 21%;
    --destructive-foreground: 21 89% 81%;
    --ring: 358 5% 83%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 358 39% 0%;
    --foreground: 358 39% 99%;
    --muted: 118 35% 13%;
    --muted-foreground: 118 12% 67%;
    --popover: 358 39% 0%;
    --popover-foreground: 358 39% 99%;
    --card: 0 0% 1%;
    --card-foreground: 0 0% 100%;
    --border: 358 15% 14%;
    --input: 358 15% 14%;
    --primary: 358 5% 83%;
    --primary-foreground: 358 5% 23%;
    --secondary: 118 5% 83%;
    --secondary-foreground: 118 5% 23%;
    --accent: 238 5% 83%;
    --accent-foreground: 238 5% 23%;
    --destructive: 21 89% 60%;
    --destructive-foreground: 0 0% 0%;
    --ring: 358 5% 83%;
  }

  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sh-identifier: #354150;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
    --sh-class: #4c97f8;
    --sh-property: #4e8fdf;
    --sh-entity: #6eafad;
    --sh-jsxliterals: #bf7db6;
    --sh-sign: #8996a3;
    --sh-comment: #a19595;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .-h-screen-navbar {
    min-height: calc(100vh - 60px);
  }

  .title {
    @apply font-serif text-3xl underline decoration-border/75 decoration-2 underline-offset-8;
  }

  .prose pre {
    @apply overflow-x-auto rounded-lg bg-transparent border-border border-[1px] px-5 py-4 text-sm;
  }

  .prose code {
    @apply rounded-lg px-1 py-0.5;
  }

  .prose pre code {
    @apply p-0 leading-3;
  }

  .prose code span {
    @apply font-medium;
  }

  .post-container {
    min-height: calc(100vh - 160px - 44px - 36px);
  }

  .post-list-container {
    min-height: calc(100vh - 160px - 344px - 36px);
  }

  .header-bg {
    @apply backdrop-blur supports-[backdrop-filter]:bg-background/60 bg-background/75;
  }
}
